*
{
    margin: 0;
    padding: 0;
}
.navigation
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    
}
.nav-link
{
    display: flex;
    gap: 22px;
}
.nav-list{
    list-style: none;
}
.nav-a{
    text-decoration: none;
    color: #575757;
    font-size: 17px;
    font-weight: 500px;
}
.btn1
{
    background-color: #1D4ED8;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 15px 45px;
}
.head{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 635px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.moto
{
    color: white;
    text-align:center;
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.description
{
    color: white;
    text-align:center;
    font-size: 22px;
    margin-bottom: 220px; 
}
.btn2
{
    font-size: 21px;
    padding: 20px 60px;
}
.speaker-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.speaker-title
{
    color: #000102;
    font-size: 56px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.speakers
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.individual-speaker
{
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    width: 644px;
    height: 460px;
}
.speaker-image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.speaker-info
{
     display: flex;
     flex-direction: column;
}
.speaker-sector
{
    color: #2563EB;
    font-weight: 700px;
    margin: 20px 30px 11px;
}
.speaker-name
{
    color: #0D1B2A;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 30px 11px;
}
.speaker-profession
{
    color: #575757;
    font-size: 14px;
    margin: 0px 30px 11px;
}
.price-title
{
    text-align: center;
    margin-top: 120px;
    font-weight: bold;
    font-size: 23px;
    color: #0D1B2A;
}
.price-description
{
  text-align: center; 
  margin-top: 17px; 
  margin-bottom: 45px;
  font-size: 18px;
  color: #575757;

}
.card
{
    border: 2px solid #E5E7EB;
    height: 430px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.all-cards
{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.card-info
{
    display: flex;
    flex-direction: column;
}
.card-info p
{
    color: #888888;
    font-weight: 700px;
    font-size: 14px;
    margin: 25px 20px 8px;
}
.card-info h2
{
    color: #0D1B2A;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 20px 8px;
}
.card-info span
{
    color: #888888;
    font-size: 13px;
    margin: 0px 20px 10px;
}
.hri
{
    width: 240px;
    margin: 0px 30px;
    background-color: #E5E7EB;
}
.card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.card ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.card-bullet
{
    width: 5px;
    height: 5px;
    background-color: #2563EB;
    border-radius: 100%;
}
.price-button
{
    color: #2563EB;
    border: 1px solid #2563EB;
    margin-left: 30px;
    padding: 10px 80px;
    border-radius: 7px;
}
.card-extend
{
    border: 2px solid #0D1B2A;
    height: 430px;
    width: 300px;
    border-radius: 5px;
    background-color: #0D1B2A;
}
.card-extend p
{
    color: #93C5FD;
    font-weight: 700px;
    font-size: 14px;
    margin: 25px 20px 8px;
}
.card-extend h2
{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 20px 8px;
}
#per-person
{
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    margin: 0px 20px 10px;
}
#card-extend-hr
{
    width: 240px;
    margin: 0px 30px;
    border: none;
    height: 2px;
    background-color: rgba(255,255,255,0.1);
}
.card-extend ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.card-extend li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.card-extend-span{
    color: rgba(255,255,255,0.8);

}
.card-extend-button
{
    background-color: #2563EB;
    color: #FFFFFF;
    border: 1px solid #2563EB;
    margin-left: 25px;
    padding: 10px 100px;
    border-radius: 7px;
}
.price-button2
{
    border: 1px solid #0D1B2A;
    color: #0D1B2A;
}
footer
{
    background-color: #0D1B2A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 18px 0px;

}
.footer-logo-social
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.soc-icon ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.soc-icon ul li
{
    list-style: none;
}
#footer-hr
{
    width: 90%;
    margin: 20px 0px;
}
.copy-right-link
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 90%;
}
.copy-right-link p{
    color: rgba(255,255,255,0.4);
}
.copy-right-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.copy-right-link ul li{
    list-style: none;
}
.copy-right-link ul li a{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
}



